#Block the visibility of these documents
<Files .htaccess>
  Order Allow,Deny
  Deny from all
</Files>

#Security options:
Options +FollowSymLinks
Options -MultiViews
Options -Indexes

#Redirect all errors
ErrorDocument 400 /400.error
ErrorDocument 401 /401.error
ErrorDocument 401 /402.error
ErrorDocument 403 /403.error
ErrorDocument 404 /404.error
ErrorDocument 500 /500.error
ErrorDocument 501 /501.error
ErrorDocument 502 /502.error
ErrorDocument 503 /503.error

############ Rewrite Engine ##############
<IfModule rewrite_module>
  RewriteEngine On
  
  # Fix the following directive if you experience problems with url redirections:
  # RewriteBase /base/url/to/your/application

  # URL's shouldn't be redirected more than once
  # This rule will block subsequent requests
  RewriteCond %{ENV:REDIRECT_STATUS} !^$
  RewriteRule .* - [L]
  
  # Url's pointing to raw theme/files are allowed
  RewriteRule ^(files|theme)/([^/]+)/(.*) libs/$2/$1/$3 [QSA,DPI]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^libs/([^/]+)/(files|theme)/ - [QSA,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^libs/([^/]+)/(files|theme)/ - [QSA,L,R=404]

  # When a url can qualify as a requests/-page, redirect it  
  RewriteRule ^([^/]+\.(php|xml|txt|ico|png|jpg|gif)) requests/$1 [QSA,L,NC]

  # Redirect the rest of requests to the index.php
  # This is the fallthrough for most requests.
  # This rule will only be triggered on original requests
  RewriteRule ^(.*)$ index.php?w_page=$1 [QSA]
</IfModule>

############ Fallback ##############
<IfModule !rewrite_module>
  <FilesMatch .*>
    Order Deny,Allow
    Deny from all
	ErrorDocument 403 "<h2>System Lockdown</h2>Entrance to the system is blocked. Make sure you enabled mod_rewrite!"
  </FilesMatch>
</IfModule>