#Block the visibility of this document
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Security options:
Options +FollowSymLinks
Options -Indexes

#Redirect all errors
ErrorDocument 400 /index.php?w_error=400
ErrorDocument 401 /index.php?w_error=401
ErrorDocument 401 /index.php?w_error=402
ErrorDocument 403 /index.php?w_error=403
ErrorDocument 404 /index.php?w_error=404
ErrorDocument 500 /index.php?w_error=500
ErrorDocument 501 /index.php?w_error=501
ErrorDocument 502 /index.php?w_error=502
ErrorDocument 503 /index.php?w_error=503

############ Rewrite Engine ##############
<IfModule rewrite_module>
  RewriteEngine On
  
  # Fix the following directive if you experience problems with url redirections:
  # RewriteBase /base/url/to/your/application

  # Url's pointing to index.php are allways priority
  RewriteRule ^index.php - [QSA,L]

  # When a url can qualify as a requests/-page, redirect it  
  RewriteRule ^([^/]+\.(php|xml|txt|ico)) requests/$1 [QSA,L]

  # Redirect the rest of requests to the index.php
  # This is the fallthrough for most requests.
  # This rule will only be triggered on original requests
  RewriteCond %{ENV:REDIRECT_STATUS} ^$
  RewriteRule ^(.*)$ index.php?w_page=$1 [QSA,L]
</IfModule>

